
body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    /* font-family: 'Manrope', sans-serif; */
  }

  @keyframes scale-up-down {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
  }

  .gradient-text {
    background: linear-gradient(-176.5deg, #7E0800 100%, #7E0800 100%, #7E0800 100%, #7E0800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #7E0800;
    -webkit-text-stroke: 3px white;
    /* text-stroke: 3px white; */
    font-family: 'Mitr', sans-serif !important;
  }

  .gradient-text1 {

    background: linear-gradient(179.2deg, #FFB72B 100%,  #FFB72B 100%,  #FFB72B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #7D0707;
    -webkit-text-stroke: 3px #7D0707;
    text-stroke: 3px #7D0707;
    font-family: 'Mitr', sans-serif !important;
  }
  .gradient-text11 {

    background: linear-gradient(179.2deg, #FFB72B 100%,  #FFB72B 100%,  #FFB72B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #7D0707;
    -webkit-text-stroke: 4px #7D0707;
    text-stroke: 3px #7D0707;
    font-family: 'Mitr', sans-serif !important;
  }
  .gradient-text2 {

    background: linear-gradient(179.2deg, #7D0707 100%,  #7D0707 100%,  #7D0707 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:  #FFB72B ;
    -webkit-text-stroke: 2.5px #FFB72B;
    text-stroke: 3px #FFB72B;
    font-family: 'Mitr', sans-serif !important;
  }
  
  .gradient-text3 {

    background:#7D0707 ;
    /* background:black; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:  #FFff ;
    -webkit-text-stroke: 2.5px #FFff;
    text-stroke: 3px #FFff;
    font-family: 'Mitr', sans-serif !important;
  }
  
  
  
  
  
  